@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  color:white;
  margin: 0;
  padding:0;
  max-width:1200px;
  min-height: 100vh;
}
